@import "react-draft-wysiwyg/dist/react-draft-wysiwyg.css";

.rdw-editor-wrapper {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
}

.rdw-editor-toolbar {
  border-bottom: 1px solid #e5e7eb;
  padding: 0.5rem;
  background-color: #f9fafb;
  border-radius: 0.5rem 0.5rem 0 0;
}

.rdw-editor-main {
  padding: 1rem;
  min-height: 300px;
  background-color: white;
}

.rdw-option-wrapper {
  border: 1px solid #e5e7eb;
  padding: 0.25rem 0.5rem;
  min-width: 25px;
  height: 25px;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
}

.rdw-option-wrapper:hover {
  background-color: #f3f4f6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.rdw-option-active {
  background-color: #e5e7eb;
}

.rdw-dropdown-wrapper {
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  background: white;
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}

.rdw-dropdown-optionwrapper {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.public-DraftStyleDefault-block {
  margin: 0.5rem 0;
}
